.neverhate{
    display: inline-block;
    mix-blend-mode: overlay;
    border-left: solid 5px black;
}
.aplan{
    float: left;
    mix-blend-mode: overlay;
}
.foot{
    width: 525px;
    height: 75px;
    border-bottom: solid 5px black;
    border-left: solid 5px black;
    border-right: solid 5px black;
}
.foot p{
    float: left;
}
h1{
    font-size: 28px;
}
.nim{
    border-bottom: solid 5px black;
}
hd{
    height: 120px;
    width: 540px;
}
.hd img{
    width: 535px;
    height: 150px;
    position: absolute;
}
.hd h1{
    color: black;
    mix-blend-mode: overlay;
}
main{
    border: solid 5px black;
    width: 525px;
}
